<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head class="dang">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patker Plot</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <div id="app" class="fluid-container">
      <nav class="navbar navbar-light bg-light shadow-sm">

      </nav>
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item" @click="tab = 'chart'">
            <a :class="(tab == 'chart'? 'active': '') + ' nav-link'">Chart</a>
          </li>
          <li class="nav-item" @click="tab = 'data'">
            <a :class="(tab == 'data'? 'active': '') + ' nav-link'">Data</a>
          </li>
          <li class="nav-item" @click="gotoOptions()">
            <a :class="(tab == 'options'? 'active': '') + ' nav-link'">Options</a>
          </li>
        </ul>
        <div class="card" v-if="tab == 'chart'">
          <div class="card-body">
            <button type="button" class="btn btn-success float-right" @click="saveChart()">
              <i class="fas fa-download mr-1"></i>
              <span>Download chart</span>
            </button>
            <chart :datasets="datasets" :datasetoptions="datasetOptions" :options="options"></chart>
          </div>
        </div>
        <div class="card" v-else-if="tab == 'data'">
          <dataset v-for="(data, index) in datasets" :data="data" :index="index"></dataset>
          <button type="button" class="btn btn-outline-primary" @click="addDataset()">Add new dataset</button>
        </div>
        <div class="card" v-else>
          <inputgroup :data="options" :path="new Array()" datakey="options" :selects="selects"></inputgroup>
          <inputgroup :data="datasetOptions" :path="new Array()" datakey="datasetOptions" :selects="selects"></inputgroup>
        </div>
      </div>
    </div>
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <!-- <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script> -->
    <script src="vue/vue.js"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="components/chart-component.js"></script>
    <script src="options.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
    <script src="script.js"></script>
    <script src="components/dataset-component.js"></script>
    <script src="components/inputgroup-component.js"></script>
  </body>
</html>
